<!DOCTYPE html>
<html lang="en">

<head>
    <!-- LINKS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css' ) }}">
    <!-- SCRIPTS -->
    <script src="https://unpkg.com/htmx.org@1.9.10"
        integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/multi-swap.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://unpkg.com/interactjs/dist/interact.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <link rel="icon" type="image/png" href="./static/images/AnthemLogoICO.png">
</head>
<header>
    <div class="nav-container">
        <nav>
            <div class="logo">
                <a href="/"> <img src='./static/images/AnthemLogoWHITE.png' alt="User Image" class="logo-image"></a>
            </div>
            <ul class="nav-list">
                <li><a href="/about">About</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/testimonials">Testimonials</a></li>
                <li><a href="/contact-us">Contact</a></li>

            </ul>
        </nav>
    </div>
</header>
{% block content %}
{% endblock %}
<footer>
    <div class="container">
        <div class="footer-notice">
            <label>Website is still under construction but our services are available!</label>
        </div>
        <div class="footer-links">
            <a href="/privacy-policy">Privacy Policy</a>
            <a href="/terms-of-service">Terms of Service</a>
        </div>
        <div class="footer-links">
            <a href="https://www.instagram.com/anthemsoftware">Instagram</a>
            <a href="https://www.linkedin.com/company/anthem-software-solutions/about/">LinkedIn</a>
        </div>
    </div>
</footer>

</html>