<!DOCTYPE html>
<html lang="en">

<head>
    <!-- LINKS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css' ) }}">
    <!-- SCRIPTS -->
    <script src="https://unpkg.com/htmx.org@1.9.10"
        integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/multi-swap.js"></script>
</head>
<header>
    <div class="container">
        <nav>
            <div class="logo">
                <a href="/"> <img src='./static/images/AnthemLogoWHITE.png' alt="User Image" class="logo-image"></a>
            </div>
            <ul class="nav-list">
                <li><a href="#about">About</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#testimonials">Testimonials</a></li>
                <!-- <li><a href="#products">Products</a></li> -->
                <li><a href="#contact">Contact</a></li>

            </ul>
        </nav>
    </div>
</header>
{% block content %}
{% endblock %}
<footer>
    <div class="container">
        <div class="footer-links">
            <a href="/privacy-policy">Privacy Policy</a>
            <a href="/terms-of-service">Terms of Service</a>
        </div>
        <div class="social-media">
        </div>
    </div>
</footer>

</html>