{% extends 'base.html'%}
{% block content %}
<section id="contact" style="height: auto; min-height: 70vh;">
    <div class="container">
        <h2>Contact Us</h2>
        <form hx-post="/contact-form" hx-target="body">
            <input type="text" placeholder="Your Name" name='name' required>
            <input type="email" placeholder="Your Email" name='email' required>
            <textarea placeholder="Your Message" name='message' required></textarea>
            <button type="submit">Send Message</button>
        </form>
        <!-- <div class="contact-info">
            <p>Email: enquires@anthem.com</p>
            <p>Phone: +27 83 456 7890</p>
        </div> -->
    </div>
</section>
{% endblock %}