{% extends 'base.html'%}
{% block content %}

<body>
    <section id="services" style="background-color: #FFFFFF;">
        <div class="container">
            <h2>Our Services</h2>
            <div>
                <h3>Custom Software Development</h3>
                <p>
                    Tailored software solutions to fit your unique business needs.
                    Examples of what we have built:
                </p>
                <ul class="services-list">
                    <li>Tenant management CRM</li>
                    <li>Building management CRM</li>
                    <li>Maintenance management Dashboard</li>
                    <li>Asset management CRM</li>
                    <li>Automated Financial report generation</li>
                    <li>Advanced budgeting software</li>
                </ul>

            </div>
            <div>
                <h3>Web Development</h3>
                <p>Modern, responsive websites that drive engagement and growth. So no matter if you're on your desktop,
                    pc, tablet or phone. Your website always looks its best. </p>
                <ul class="services-list">
                    <li>Rush Cars</li>
                    <li>Dysautonomia support SA</li>
                </ul>
            </div>
            <div>
                <h3>Mobile App Development</h3>
                <p>Innovative mobile applications for iOS and Android platforms.</p>
            </div>
            <div>
                <h3>Data science</h3>
                <p>Powerful data analysis and data cleaing, giving your business the best insight</p>
            </div>
            <div>
                <h3>Business automation</h3>
                <p>Automate business tasks, to elevate your operations to the next level</p>
            </div>
        </div>
    </section>
</body>
{% endblock %}