{% extends 'base.html'%}
{% block content %}

<div class="container">

    <h1>Terms of Service</h1>
    <div>
        <h3>1. Introduction</h3>
        <p>
            Welcome to Anthems terms of service. By reading the terms laid out in this document, you the reader and or
            corporation agree to be bound by these terms.
        </p>
    </div>
    <div>
        <h3>2. Eligibility</h3>
        <p>
            By seeking services from Anthem, you represent that you have the legal capacity to enter into this
            agreement.
        </p>
    </div>
    <div>
        <h3>3. Contractual Agreements</h3>
        <p>
            You are responsible for maintaining the confidentiality of any agreemnt and/or product Anthem may be
            responsible for developing.
        </p>
    </div>
    <div>
        <h3>4. Service Availability</h3>
        <p>
            We strive to provide uninterrupted access to our services but do not guarantee uptime or availability 100%
            of the time. Maintenance may occur at any time.
        </p>
    </div>
    <div>
        <h3>5. User conduct</h3>
        <p>
            Users are granted a limited license to use our services for personal use, although this may vary from client
            to client.
        </p>
    </div>
    <div>
        <h3>6. Termination</h3>
        <p>
            We reserve the right to suspend or terminate accounts that violate these terms or engage in other
            harmful/debaucherous activities.
        </p>
    </div>
    <div>
        <h3>7. Limitation of Liability</h3>
        <p>
            We are not liable for any indirect, incidental, or consequential damages arising from the use of our
            services.
        </p>
    </div>
    <div>
        <h3>8. Indemnification</h3>
        <p>
            You agree to indemnify and hold harmless Anthem against any claims, damages, or expenses arising from your
            use of the services.
        </p>
    </div>
    <div>
        <h3>9. Governing Law</h3>
        <p>
            These terms are governed by the laws of South Africa. Any disputes will be resolved in accordance with local
            jurisdiction.
        </p>
    </div>
    <div>
        <h3>10. Dispute resolution</h3>
        <p>
            In the event of a dispute, you agree to resolve the matter through any forms of dispute resolution agreed
            upon by both parties.
        </p>
    </div>
    <div>
        <h3>11. Changes to the Terms</h3>
        <p>
            We may update our Terms of Service from time to time. Changes will be communicated via email or on our
            website.
        </p>
    </div>
    <div>
        <h3>12. Contact information</h3>
        <p>
            Should any questions arise about these terms of service, you may contact us at info@anthemsoftware.co.za.
        </p>
    </div>
    <div>
        <h3>Date of last revision</h3>
        <p>
            This policy was last updated on [2024/07/30].
        </p>
    </div>
</div>

{% endblock %}