{% extends 'base.html'%}
{% block content %}
<section id="testimonials" style="height: auto; min-height: 70vh;">
    <div class="container">
        <h2>Leave us a testimonial!</h2>
        <div class="testimonial">
            <p>Follow our Instagram, email us or leave a comment!</p>
            <div class="footer-links">
                <a href="https://www.instagram.com/anthemsoftware">Instagram</a>
                <a href="https://www.linkedin.com/company/anthem-software-solutions/about/">LinkedIn</a>
            </div>
        </div>
        <h3>Why are testimonials so important?</h3>
        <div class="testimonial">
            <p>Because feedback of course! We value our customers being happy, and receiving the services they deserve,
                and testomonials do this for us. Let us know what went right, what went wrong but also, why you would
                choose us again!</p>
        </div>
        <!-- <div class="testimonial">
            <p>"Their web development team delivered a stunning website that exceeded our expectations."</p>
            <span>- Jane Smith, Marketing Director at CreativeAgency</span>
        </div> -->
    </div>
</section>
{% endblock %}